---
import ContactSection from "../components/ContactSection.astro";
import Divider from "../components/Divider.astro";
import DontsSection from "../components/DontsSection.astro";
import FriendsSection from "../components/FriendsSection.astro";
import GoalSection from "../components/GoalSection.astro";
import HeroSection from "../components/HeroSection.astro";
import ProcessSection from "../components/ProcessSection.astro";
import SpecializationSection from "../components/SpecializationSection.astro";
import StackSection from "../components/StackSection.astro";
import TeamSection from "../components/TeamSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dev Youngstown">
	<main>
		<HeroSection />

		<GoalSection />

		<ProcessSection />

		<SpecializationSection />

		<StackSection />

		<DontsSection />

		<TeamSection />

		<Divider />

		<FriendsSection />

		<Divider />

		<ContactSection />
	</main>
</Layout>
