---
import LinkButton from "./LinkButton.astro";
import Section from "./Section.astro";
---

<Section class="contact-section">
	<h2>Want to work with us?</h2>
	<p>
		Due to high demand, we currently exclusively work with YBI Portfolio
		Companies through their EVOLVE program.
	</p>

	<p>Projects and Interns are accepted on a per-semester basis.</p>

	<div>
		<LinkButton href="https://ybi.org/evolve-application/">
			YBI EVOLVE Application
		</LinkButton>
	</div>

	<div>
		<LinkButton
			href="https://docs.google.com/forms/d/e/1FAIpQLSfLtS6ehMstjlN4MsD2YCN5qoCknLo_YYEOHKb7TinhnaMpBw/viewform?usp=sf_link"
		>
			Summer 2023 Internship Application
		</LinkButton>
	</div>
</Section>
