---
import Section from "./Section.astro";
---

<Section class="donts-section">
	<div class="donts-section-content">
		<h2>What we don't do</h2>

		<div>
			<h3>Brownfields</h3>
			<p>
				We believe that brownfield projects (projects that already
				exist) require a Project Manager who deeply understands the
				existing project to effectively guide and get the most out of a
				student. Instead we suggest hiring an intern directly, which we
				are happy to help with!
			</p>
		</div>

		<div>
			<h3>Give companies direct access to students</h3>
			<p>
				The Project Manager plays the important role of keeping the
				project within a scope executable by the student, which is an
				important part of making sure the project output is something
				that you can deliver to your users.
			</p>
		</div>

		<div>
			<h3>Lock you in</h3>
			<p>
				Our projects are built to be built upon. Everything we deliver
				is well-documented and built using the most popular open source
				technologies on the market today.
			</p>
		</div>

		<div>
			<h3>Not pay our students</h3>
			<p>
				All of our students are paid fairly by the hour as 1099
				contractors.
			</p>
		</div>
	</div>
</Section>
