---
import ImageList from "./ImageList.astro";
import ImageListItem from "./ImageListItem.astro";
import Section from "./Section.astro";
---

<Section class="friends-section">
	<h2>Our Friends</h2>

	<ImageList>
		<ImageListItem
			src="/images/Code-Youngstown-logo.png"
			alt="Code Youngstown Logo"
			href="https://codeyoungstown.com"
		/>
	</ImageList>
</Section>
