---
import Section from "./Section.astro";
---

<Section class="goal-section">
	<h2>Our Goal</h2>

	<p class="goal-section-content">
		To give talented local student software developers the 1 year of paid
		experience they need to be qualified to work remotely from Youngstown,
		OH.
	</p>
</Section>

<style>
	.goal-section {
		background-color: rgba(2, 0, 36, 1);
		color: white;
		text-align: center;
	}

	.goal-section-content {
		max-width: 500px;

		margin: auto;
	}
</style>
