---
---

<header>
	<span class="logo">Dev Youngstown</span>
</header>

<style>
	header {
		padding: 1em;
		background: rgb(150, 17, 180);
		color: white;
	}

	.logo {
		font-weight: bold;
		font-size: 1.5em;
	}
</style>
