---
import Section from "./Section.astro";
---

<Section class="process-section">
	<div class="process-section-content">
		<h2>Our process</h2>

		<div>
			<h3>Vet</h3>

			<p>
				Projects are vetted and accepted on a rolling basis based on
				scope, student-friendliness, and project flexibility.
			</p>
		</div>

		<div>
			<h3>Accept</h3>

			<p>
				Accepted projects are assigned a Project Manager - a local
				senior software engineer who has years of experience building
				real-world software projects for companies of all sizes.
			</p>
		</div>

		<div>
			<h3>Scope</h3>

			<p>
				Our Project Manager helps you create a well-defined scope of
				work specifically designed to enable students to be able deliver
				meaningful value to you and your customers.
			</p>
		</div>

		<div>
			<h3>Match</h3>

			<p>
				We then use our connections with local organizations such as
				Code Youngstown, YSU, and MCCTC to match your project students
				are ready to take their experience to the next level and are
				excited at the prospect of working on a project like yours.
			</p>
		</div>

		<div>
			<h3>Execute</h3>

			<p>
				Students execute the work transparently - expect weekly progress
				check-ins with your Project Manager and to have access to all
				outputs from day 1.
			</p>
		</div>
	</div>
</Section>

<style>
	.process-section {
		background: rgb(150, 17, 180);
		background: linear-gradient(
			0deg,
			rgba(150, 17, 180, 1) 0%,
			rgba(2, 0, 36, 1) 80%
		);

		color: white;
	}

	.process-section-content {
		max-width: 700px;

		margin: auto;
	}
</style>
