---
export interface Props {
	class: string;
}

const { class: className } = Astro.props;
---

<section class={className}>
	<slot />
</section>

<style>
	section {
		padding: 2em;
	}

	@media screen and (min-width: 600px) {
		section {
			padding: 5em;
		}
	}
</style>
