---
import Card from "./Card.astro";
import Section from "./Section.astro";
---

<Section class="specialization-section">
	<h2>Specializations</h2>

	<div class="specialization-cards">
		<Card
			name="MVPs"
			description={"Dev Youngstown's Project Managers have scoped and built Minimum Viable Products (MVPs) for all kinds of startups."}
			color="white"
		/>

		<Card
			name="Web Apps"
			description={"Dev Youngstown specializes at bringing highly-interactive, mobile-friendly Progressive Web Apps (PWAs) to life."}
			color="white"
		/>

		<Card
			name="APIs"
			description={"All of Dev Youngstown's projects are well-documented, RESTful, secure, scalable, and built according to the 12 Factor methodology."}
			color="white"
		/>
	</div>
</Section>

<style>
	.specialization-section {
		text-align: center;

		background: rgb(150, 17, 180);
		background: linear-gradient(
			0deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(150, 17, 180, 1) 80%
		);

		color: white;
	}

	.specialization-cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		gap: 1em;
	}
</style>
