---
---

<div class="specialization-card">
	<h3>MVPs</h3>
	<p>
		Dev Youngstown's Project Managers have scoped and built Minimum Viable
		Products (MVPs) for all kinds of startups.
	</p>
</div>

<style>
	.specialization-card {
		min-width: 300px;
		max-width: 400px;

		border: 2px solid white;
		border-radius: 8px;
		padding: 1em;
	}
</style>
