---
import Card from "./Card.astro";
import Section from "./Section.astro";
---

<Section class="team-section">
	<h2>Our Team</h2>

	<div class="team-members">
		<Card
			name="Joe Duncko"
			title="Lead Project Manager"
			description="Senior Frontend Engineer @ BlastPoint, Co-organizer @ Code Youngstown, Entrepreneur in Residence @ YBI"
			src="/images/JoeDuncko2019Square.webp"
		/>

		<Card
			name="Our Students"
			description="Dev Youngstown's students are some of the most promising up and coming software developers in Youngstown, OH."
		/>
	</div>
</Section>
